body {
    font-family: 'Ubuntu', sans-serif;
}
#title {
    background-color: #ff4c68;
    color: #fff;
}
.header-title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 65px;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 9% 20%;
}


/* Navigation Bar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.60rem;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
    width: 390px;
    transform: rotate(25deg);
    position: absolute;
    right: 15%;
}

/* Features Section */

#features {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
}

.fa-solid {
    color: #ef8172;
    padding-bottom: 20px;
}
.fa-solid:hover {
    color: #ff4c68;
}

.features-text {
    color: #8f8f8f;
}
.features-section {
    text-align: center;
    padding: 3%;
    font-size: 17px;
}

/* Testimonials Section  */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    font-family: 'Montserrat';
    color: #fff;
}

#testimonials h2 {
    font-size: 50px;
    margin-bottom: 3%;
}

.testimonial-image {
    width: 12%;
    border-radius: 100%;
    margin: 3% 2% 0 0;
}

.carousel-item {
    padding: 7% 15%;    
}

/* Press Section  */

#press {
    background-color: #ef8172;
    text-align: center;
}

.press-image {
    width: 15%;
    margin: 4%;
}

/* Pricing Section  */

#pricing {
    padding: 100px;
}
#pricing h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

#pricing p {
    font-family: 'Ubuntu', sans-serif;
    color: #8f8f8f;
    font-size: 1.2rem;
}

.pricing-column {
    padding: 3% 2%;
    text-align: center;
}

@media (max-width: 990px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Call To Action  */

#cta {
    background-color: #ff4c68;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 5% 20%;
}
#cta h3 {
    font-size: 4.20rem;
    color: #fff;
    font-weight: bolder;
    padding-bottom: 5%;
}

#cta button {
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

/* Footer  */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 3%;
}

#footer p {
    font-family: 'Ubuntu', sans-serif;
    color: #8f8f8f;
    font-size: 120%;
}

#footer i {
    padding: 0% 0.75% 0.75% 0;
}

.icon-cog {
    color: black;
  }
  
